.headerShimmer{
    height: 90px;
    width: 100vw;
    background-image: linear-gradient(to right, rgb(211, 209, 209) , rgb(252, 251, 251));
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box{
    width: 180px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.major{
    width: 80%;
    height: 100px;
    border-radius: 100%;
    background-image: linear-gradient(to right, rgb(211, 209, 209) , rgb(252, 251, 251));
}

.minor_1{
    width: 70%;
    height: 30px;
    background-image: linear-gradient(to right, rgb(211, 209, 209) , rgb(252, 251, 251));
}

